header {
  border-bottom: 2px solid $gris3;
  padding: 1rem 0;
}
.contenedor-header {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.logo {
  color: $naranja;
  font-size: 4rem;
  line-height: 0;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  margin-right: 2rem;
}
/**Botones */
.botones {
  display: flex;
  align-items: center;
  & p {
    margin-right: 2rem;
  }
}
.boton {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #d1d1d1;
  padding: 0.8rem 2rem;
  margin: 2rem auto;
  text-align: center;
  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

/**Buscar  */

.buscar {
  position: relative;
  input {
    border: 1px solid $gris3;
    padding: 1rem;
    min-width: 300px;
  }
  button {
    height: 3rem;
    width: 3rem;
    display: block;
    background-size: 4rem;
    background-image: url('/static/img/buscar.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 1rem;
    top: 1px;
    background-color: white;
    border: none;
    text-indent: -9999px;

    &:hover {
      cursor: pointer;
    }
  }
}

/**Navegacion */

.header__nav {
  padding-left: 2rem;
  a {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: $gris2;
    font-family: 'PT Sans', sans-serif;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
